.App {
  text-align: center;
}

.App-logo {
  height: 3vmin;
  pointer-events: none;
  margin-bottom: 50%;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

a:link {
  text-decoration: none;
}

.side-text {
  color: whitesmoke;
  text-transform: uppercase;
}

#page-side {
  background-color: #121212;
  position: fixed;
  height: 100vh;
  /* top: 0;
  left: 0; */
}

/* #sideNav {
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  width: 17rem;
  height: 100vh;
} */

.fixed-top {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1030;
}

.navbar {
  align-items: center;
  /* background-color: #121212; */
  /* background-color: #121212; */
  color: antiquewhite;
}

#profileImg {
  width: 75%;
  margin-top: 25vh;
  border: 5px solid #a7f8fe;
  /* border: 5px solid #61dafb; */
}

.resume-section {
  min-height: 100vh;
  max-width: 75 rem;
}

.icon-color {
  color: #121212;
}

#react-note {
  position: absolute;
  bottom: 0;
}